.root
{
    -fx-background-color: #F0FFFF;

}

.button {
    -fx-background-color: linear-gradient(to bottom right,#F0FFFF , #008080);

}
.number-button
{
    -fx-font-size: 25px;
    -fx-font-weight: bold ;

}
.operator-button
{
    -fx-font-size: 25px;
    -fx-font-weight: bold ;

}


